<%- include("header") -%>

<h2>This is the about me page</h2>

<p>I am Bill and i'm Software Enginner from Greece.I've made a to-do list to keep your daily tasks in one place.</p>

<%- include("footer") -%>
